@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    background-image: url(../imagens/tarde.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#container{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: black 4px 5px 10px;
    max-width: 1200px;
}

.sombra-texto{
    text-shadow: black 1px 1px 1px;
}

.borda-arredondada{
    border-radius: 8px;
}

.destaque{
    background-color: yellow;
    padding: 1px;
    border: solid 2px red;
}

.centralizar{
    text-align: center;
}

.centralizar img{
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

figure img{
    
    transition: 1s;
}

figure img:hover{
    filter: none;
    transform: scale(1.05) rotate(3deg);
}

img{
    max-width: 100%;
    border-radius: 8px;
}

.flutuar{
    float: left;
    margin-right: 10px;
}

nav{
    text-align: center;
}

nav a{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    border: 1px solid blue;
    width: 30%;
    border-radius: 5px;
    box-shadow: 3px 3px;
    font-family:  lobster;
}

nav a:hover, nav a:focus{
    background-color: rgb(142, 141, 160);
    transform: scale(1.1);
}

h1{
    background-image: linear-gradient(355deg, #8dbf7b 0, #80c183 4.17%, #73c28c 8.33%, #65c496 12.5%, #56c5a1 16.67%, #46c5ab 20.83%, #34c6b6 25%, #1cc6c1 29.17%, #00c5cb 33.33%, #00c5d5 37.5%, #00c4de 41.67%, #00c3e6 45.83%, #0cc1ed 50%, #2fbff3 54.17%, #47bdf7 58.33%, #5cbafb 62.5%, #70b7fc 66.67%, #83b4fc 70.83%, #94b0fb 75%, #a4acf8 79.17%, #b3a8f4 83.33%, #c1a5ee 87.5%, #cea1e7 91.67%, #d99ddf 95.83%, #e39ad6 100%);
    padding: 5px;
    text-align: center;
    border-radius: 8px;
    margin-top: 0;
    box-shadow: 3px 3px 5px;
    font-family: lobster, sans-serif;
}

h2{
    background-image: url(../imagens/oriental-tiles.png);
    font-family: lobster;
    text-align: center;
    color: rgb(227, 233, 232);
    padding: 10px;
    border-radius: 8px;
    border-left: 20px rgb(162, 197, 212) solid;
    border-right: 20px rgb(162, 197, 212) solid;
}

figure{
    margin: 0;
    position: relative;
}

figcaption{
    width: 100%;
    position: absolute;
    font-weight: bold;
    right: 0px;
    bottom: 30px;
}

li a{
    text-decoration: none;
}

ol{
    border: 1px;
    width: 100px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(355deg, #8dbf7b 0, #80c183 4.17%, #73c28c 8.33%, #65c496 12.5%, #56c5a1 16.67%, #46c5ab 20.83%, #34c6b6 25%, #1cc6c1 29.17%, #00c5cb 33.33%, #00c5d5 37.5%, #00c4de 41.67%, #00c3e6 45.83%, #0cc1ed 50%, #2fbff3 54.17%, #47bdf7 58.33%, #5cbafb 62.5%, #70b7fc 66.67%, #83b4fc 70.83%, #94b0fb 75%, #a4acf8 79.17%, #b3a8f4 83.33%, #c1a5ee 87.5%, #cea1e7 91.67%, #d99ddf 95.83%, #e39ad6 100%);
    padding-top: 10px; 
    padding-bottom: 10px;
    box-shadow: 3px 3px 3px;
}

ul{
    font-family: Impact;
    color: red;
}

ul li:first-child{
    color: blue;
}

ul li:nth-child(4){
    color: rgb(11, 11, 12);
}

footer{
    text-align: center;
}

@keyframes animacores{
    from{
        background-color: yellow;
        color: blue;
    }

    to{
        background-color: blue;
        color: yellow;
    }
}

.subtitulo{
    animation: animacores;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#banner{
    width: 450px;
    margin: auto;
    overflow: hidden;
}

@keyframes animabanner{
    from{
        transform: translatex(-140px);
    }
    to{
        transform: 
        translateX(440px) 
        rotate(360deg)
    }
}

 #banner img{
    animation-name: animabanner;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.desafio{
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 60px;
    background-color: rgb(76, 76, 150);
    color: white;
}

@keyframes animacss{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

.desafio{
    animation-name: animacss;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-in;
   
}